@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,300&display=swap');

body{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;    font-size: 1.125rem;
    box-sizing: border-box;
/* glass background*/
    background-attachment: fixed;
    background-image: url(assets/pexels-mikhail-nilov-7828071.jpg);
    background-size:cover;
}

.wrapper{
    /* margin: auto auto; */
    border-radius: 10px;
    width: 60%;
    height: 60vw;
    padding-top:1.2rem;
    box-sizing: border-box;
    /* glass background*/
    box-shadow: 0 0 1.2rem 0 rgba(0, 0, 0, .2); 
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
}

/* glass background */
.wrapper:before{
    content:'';
    position: absolute;
    background: inherit;
    z-index: -1;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(10, 0, 0, 0.644);
    filter: blur(10px);
    margin: -20px;
}

.flex{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    width: 90%;
}

.column {
    flex-direction: column;
    align-items: center;
}



.face{
    width: 10vw;
    height: 10vw;
    border: 2px solid black;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 5%;
}



.block{
    width: 25%;
    height: 25%;
    border: 1px solid black;
    border-radius: 10%;
}


.green {
    background-color: green;
}


.red {
    background-color: red;
}

.white {
    background-color: white;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.orange {
    background-color: orange;
}

/* BUTTON STYLING */

.buttons{
    display: flex;
    justify-content: space-between;
}

.btn{
    outline:none;
    border: none;
    cursor: pointer;
    display: block;
    position: relative;
    margin: 10px auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 5px;
    border-radius: 0.25rem;
    background-color: #fcad26;
    box-shadow: 0 6px blueviolet;

}

.btn:hover{
    box-shadow: 0 4px #efa424;
    /* this is because of the relative postion, top will shift 2px down */
    top: 2px;
}

.btn:active{
    box-shadow: none;
    top: 6px;
}
